@import url('https://fonts.googleapis.com/css?family=Nunito');


/* LOBBY */

body {
    font-family: Nunito;
    background-color: #664147;
}

.screen {
    height: 96%;
    width: 96%;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2%;
}

.form {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    color: #664147;
}

form {
    background: rgba(233, 236, 236, 0.8);
    width: 50%;
    margin: 0 auto;
    border-radius: 50px;
    padding: 5px;
}

form:hover,
form:active,
form:focus,
form:focus-within {
    background: rgba(233, 236, 236, 1);
}

.box {
    text-align: left;
    font-size: 15px;
    font-family: Nunito;
    outline: none;
    width: 90%;
    border: none;
    background: none;
    letter-spacing: 0.7px;
    font-weight: bold;
}

.confirm {
    border: none;
    font-size: 20px;
    font-family: Nunito;
    color: #664147;
    background: none;
    cursor: pointer;
}

/* GRID */

.grid {
    width: 95%;
    padding: 5em 1em;
    margin: 0 auto;
    color: #664147;
    display: table;
}

.tile {
    text-align: center;
    display: block;
    vertical-align: middle;
    float: left;
    width: 175px;
    height: 100px;
    background-color: rgba(233, 236, 236, 0.8);
    margin: 0.5em;
    padding: 30px 10px;
    border: 1px #664147 solid;
}

/* HOME ICON */

.back-button {
    color: white;
    opacity: 0.5;
    font-size: 2em;
    float: left;
}

.back-button:hover {
    cursor: pointer;
}

/* VIDEO */

.message-container {
    width: 70%;
    margin: 0 auto;
    background-color: rgba(233, 236, 236, 0.8);
    padding: 2em;
}

.message-container.small {
    padding: 4em;
    width: 50%;
    outline: 5px #664147 double;
    outline-offset: -2em;
}

video {
    width: 100%;
}

.message-container p {
    width: 100%;
    text-align: left;
    color: #664147;
    font-weight: bold;
    margin: 1em 0 0 0;
}

.message-container p.transcript-content:hover,
p.message a:hover {
    color: #312621;
    cursor: pointer;
}

p.message {
    color: #664147;
    margin: 0 0 0.5em 0;
}

p.message a {
    color: #493931;
}

.transcript-content {
    font-size: 1em;
    font-weight: bold;
    color: #241C19;
}

:focus {
    outline: none;
}