.form {
	width: 100%;
	display: block;
	margin: 1em 0 2em;
}


.packed-items {
	text-align: left;
	font-size: 0.9em;
	font-family: Nunito;
	outline: none;
	width: 80%;
	border: none;
	background: none;
	letter-spacing: 0.5em;
	font-weight: bold;
	display:inline-block;
	margin-left:1em;
}

.confirm:hover {
	text-decoration: underline;
}