body {
	background-color:#F7F6F2;
	position:relative;
}

@keyframes fade {
	from {opacity:0;} to {opacity:1;}
}

@keyframes down {
	from {top:-35px;} to {top:0;}
}

a {
	text-decoration: none;
	color:#42CAFD;
	font-weight:250;
}

a:hover {
	color:#1481BA;
	cursor:pointer;
}

h1 {
	font-size:1.65rem;
	font-weight:500;
	letter-spacing:.25rem;
}

h2 {
	font-size:1.15rem;
	font-weight:500;
	letter-spacing:.1rem;
	line-height:300%;
}

h3 {
	font-size:.9rem;
	font-weight:500;
	line-height: 0px;
	display:inline-block;
}

h4 {
	font-size:.9rem;
	font-weight:500;
	font-style:italic;
	line-height: 0px;
	display:inline-block;
}

p {
	font-size:.9rem;
	font-weight:100;
	line-height: 0px;
	display:inline-block;
}

p.transparent {
	opacity:0;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	display:inline;
}

#resume {
	width:80%;
	margin:0 auto;
	font-family: 'Raleway', sans-serif;
}

#resume-paper {
	width:78%;
	margin:5%;
	padding:6%;
	box-shadow: -10px -10px 50px #ccc;
	background-color:#fff;
}

#education {
	width:100%;
}


.contact-information {
	margin:0 auto;
	padding:0;
}

.contact-information > h3, p {
	-webkit-margin-before: .75em;
	-webkit-margin-after: .75em
}


#education > h2, h3, h4, h5, p {
	-webkit-margin-before: 0.72em;
	-webkit-margin-after: 0.72em;
}

.left {
	text-align:left;
	width:65%;
	float:left;
}

.right {
	text-align:right;
	width:35%;
	float:left;
}

.block-10 {
	text-align:left;
	width:20%;
	float:left;
}

.indent-10 {
	padding-left: 12%;
	text-indent: -2%;
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
	white-space: normal; 
	overflow: visible;
	text-overflow: clip;
	display:inline;
}

.indent-10 > p {    
	width:80%;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
}

/* INDEX PAGE STYLING */

/* NAME */

.name {
	text-align:center;
	padding-top:3%;
	width:70%;
	margin:0 auto;
}

.name h1 { 
	color:#555;
	font-family: 'Raleway', sans-serif;
	font-size:7.7vw;
	letter-spacing:.5rem;
	-webkit-margin-before:.15em;
	-webkit-margin-after:.25em;
	font-weight:100;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.fade {
}

/* BUBBLE OPTIONS */

#bubbles {
	width:100%;
	height:57.5%;
	display:inline-block;
	position:relative;
}

.bubble-op {
	width:20vw;
	height:20vw;
	background-color:#DCE5E6;
	border-radius:50%;
	display:block;
	position:absolute;
	transition: .5s;
}

.bubble-op p {
	font-family: 'Raleway', sans-serif;
	display:block;
	position:absolute;
	z-index:1;
	font-size:2em;
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;
	text-align:center;
	line-height:16.5vw;   
	color:#F7F6F2;
	opacity:0;
	transition:.5s;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.button-overlay {
	width:100%;
	height:100%;
	position:absolute;
	background-color:#000;
	border-radius:50%;
	opacity:0;
	transition:.5s;

}

.bubble-op:hover > .button-overlay {
	opacity:0.35;
}

.bubble-op:hover > p {
	opacity:1;
}

#bubble-one {
	left:10%;
	top:0%;
	background-image:url("./rockclimbing.jpg");
	background-size:cover;
	background-repeat:no-repeat;
}

#bubble-one:hover {
	top:5%;
}

#bubble-two {
	left:40%;
	top:15%;
	background-image:url("./shiba.png");
	background-size:cover;
	background-repeat:no-repeat;
}

#bubble-two:hover {
	top:10%;
}

#bubble-three {
	right:10%;
	top:0%;
	background-image:url("./baking.jpg");
	background-size:cover;
	background-repeat:no-repeat;
}

#bubble-three:hover {
	top:5%;
}

/* HOMEPAGE MENU */

.nav-bar {
	font-family: 'Quicksand', sans-serif;
	text-align:left;
	list-style:none;
	width:55%;
	margin:0 auto;
	font-size:1.2vw;
	color:#555;
	padding:0;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.nav-op {
	display:inline-block;
	line-height:2rem;
}

.nav-bar img {
	width:5%;
	height:auto;
	float:right;
}

/* FLOATING MENU */

nav {
	font-family: 'Quicksand', sans-serif;
	text-align:right;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	width:100%;
}

nav ul {
	list-style:none;
	margin:0 auto;
	font-size:2vw;
	color:#555;
	padding:0;
}

nav li {
	display:inline-block;
}

/* ABOUT ME */

#profile-bar {
	width:30vw;
	position:relative;
	display:inline-block;
	float:left;
	margin:2.5%;
}

#profile-image {
	width:25vw;
	height:25vw;
	display:inline-block;
	float:left;
	position:relative;
	border-radius:50%;
	background-image:url("./anisa.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	margin-top:16%;
	margin-left:5%;
	margin-bottom:15%;
}

#social-media {
	display:block;
	width:80%;
	margin:0 auto;
}

.sm-icon {
	width:23%;
	height:auto;
	float:left;
	text-align:center;
	font-size:30px;
}

#about-me {
	float:left;
	color:#555;
	margin:0;
	padding:1.5% 0;
	width:55vw;
}

#about-me h1 {
	display:inline-block;
	font-size:5em;
	font-family: 'Roboto Slab', serif;
	position:relative;
	letter-spacing:0em;
	padding-top:5vw;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

#about-me h2 {
	display:block;
	font-size:1.5em;
	font-family: 'Roboto Slab', serif;
	font-style:italic;
	position:relative;
	letter-spacing:0em;
	line-height:1em;
	font-weight:100;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 1em;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

#about-me p {
	font-family: 'Quicksand', sans-serif;
	display:block;
	position:relative;
	font-size:1.5rem;
	font-weight:100;
	line-height: 1.5em;
}

/* CONTACT FORM */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* WORKS */

.gallery {
	width:70%;
	height:75%;
	display:block;
	position:relative;
	margin:2.5% auto;
}

.square-button {
	width:20vw;
	height:20vw;
	display:block;
	position:relative;
	float:left;
	transition: .5s;
	margin:.5% 1.5%;
	background:url("./circle.png") no-repeat;
	background-size:cover;
}

.square-button p {
	font-family: 'Raleway', sans-serif;
	display:block;
	position:absolute;
	z-index:1;
	font-size:1em;
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;
	text-align:center;
	line-height:16.5vw;   
	color:#F7F6F2;
	opacity:0;
	transition:.5s;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.square-overlay {
	width:100%;
	height:100%;
	position:absolute;
	background-color:#000;
	border-radius:50%;
	opacity:0;
	transition:.5s;

}

.square-button:hover > .square-overlay {
	opacity:0.35;
}

.square-button:hover > p {
	opacity:1;
}