body {
	background-color:#F7F6F2;
	position:relative;
}

@keyframes fade {
	from {opacity:0;} to {opacity:1;}
}

@keyframes down {
	from {top:-35px;} to {top:0;}
}

a {
	text-decoration: none;
	color:#42CAFD;
	font-weight:250;
}

a:hover {
	color:#1481BA;
	cursor:pointer;
}

h1 {
	font-size:1.65rem;
	font-weight:500;
	letter-spacing:.25rem;
}

h2 {
	font-size:1.15rem;
	font-weight:500;
	letter-spacing:.1rem;
	line-height:300%;
}

h3 {
	font-size:.9rem;
	font-weight:500;
	line-height: 0px;
	display:inline-block;
}

h4 {
	font-size:.9rem;
	font-weight:500;
	font-style:italic;
	line-height: 0px;
	display:inline-block;
}

p {
	font-size:.9rem;
	font-weight:100;
	line-height: 0px;
	display:inline-block;
}

p.transparent {
	opacity:0;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	display:inline;
}

#resume {
	width:80%;
	margin:0 auto;
	font-family: 'Raleway', sans-serif;
}

#resume-paper {
	width:78%;
	margin:5%;
	padding:6%;
	box-shadow: -10px -10px 50px #ccc;
	background-color:#fff;
}

#education {
	width:100%;
}


.contact-information {
	margin:0 auto;
	padding:0;
}

.contact-information > h3, p {
	-webkit-margin-before: .75em;
	-webkit-margin-after: .75em
}


#education > h2, h3, h4, h5, p {
	-webkit-margin-before: 0.72em;
	-webkit-margin-after: 0.72em;
}

.left {
	text-align:left;
	width:65%;
	float:left;
}

.right {
	text-align:right;
	width:35%;
	float:left;
}

.block-10 {
	text-align:left;
	width:20%;
	float:left;
}

.indent-10 {
	padding-left: 12%;
	text-indent: -2%;
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
	white-space: normal; 
	overflow: visible;
	text-overflow: clip;
	display:inline;
}

.indent-10 > p {    
	width:80%;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
}

/* INDEX PAGE STYLING */

/* NAME */

.name {
	text-align:center;
	padding-top:3%;
	width:70%;
	margin:0 auto;
}

.name h1 { 
	color:#555;
	font-family: 'Raleway', sans-serif;
	font-size:7.7vw;
	letter-spacing:.5rem;
	-webkit-margin-before:.15em;
	-webkit-margin-after:.25em;
	font-weight:100;
}

.fade {
}

/* BUBBLE OPTIONS */

#bubbles {
	width:100%;
	height:57.5%;
	display:inline-block;
	position:relative;
}

.bubble-op {
	width:20vw;
	height:20vw;
	background-color:#DCE5E6;
	border-radius:50%;
	display:block;
	position:absolute;
	transition: .5s;
}

#bubble-one {
	left:10%;
	top:0%;
	background-image:url("./climbing.jpeg");
	background-size:cover;
	background-repeat:no-repeat;
}

#bubble-one:hover {
	top:5%;
	opacity: .75;
}

#bubble-two {
	left:40%;
	top:15%;
	background-image:url("./shiba.png");
	background-size:cover;
	background-repeat:no-repeat;
}

#bubble-two:hover {
	top:10%;
	opacity: .75;
}

#bubble-three {
	right:10%;
	top:0%;
	background-image:url("./cake.jpg");
	background-size:cover;
	background-repeat:no-repeat;
}

#bubble-three:hover {
	top:5%;
	opacity: .75;
}
/* MENU */

.nav-bar {
	font-family: 'Quicksand', sans-serif;
	text-align:left;
	list-style:none;
	width:55%;
	margin:0 auto;
	font-size:1.2vw;
	color:#555;
	padding:0;
}

.nav-op {
	display:inline-block;
	line-height:2rem;
}

.nav-bar img {
	width:5%;
	height:auto;
	float:right;
}