body {
	background-color:#F7F6F2;
	position:relative;
	margin:0 auto;
	height:100%;
}

.desktop {
	visibility:hidden;
}

.mobile {
	visibility:visible;
}

/* HOME PAGE */

#page-container {
	width:100%;
	height:100%;
	overflow:hidden;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

}

#page-container p {
	position:absolute;
	bottom:0;
	right:0;
	text-align:right;
	font-family: 'Quicksand', sans-serif;
	font-size:.75em;
	color:#42cafd;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

#page-container p a {
	opacity:0;
	animation:appear 1s 1s forwards;
	color:#42cafd;
	text-decoration: none;
}

#page-container p a:hover {
	color:#1481ba;
}

.menu-box {
	width:80vw; 
	height:94px; 
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity:0;
	border-radius:0;
	overflow:hidden;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

#menu-box-a {
	opacity:100;
	background-color:#42cafd;
	width:100vw;
	height:100vh;
	animation:animation-a 10s 1s forwards;
}

#menu-box-b {
	background-color:#2F4858;
	animation:animation-b 10s 1s forwards;
}

#menu-box-c {
	background-color:#727072;
	animation:animation-c 10s 1s forwards;
}

#menu-box-d {
	background-color:#1481ba;
	animation:animation-d 10s 1s forwards;
}

.menu-box h1 {
	font-family: 'Roboto Slab', serif;
}

.menu-label {
	color:#fff;
	transition:0.5s;
}

#menu-box-a .menu-label {
	opacity:0;
	animation:appear 0.5s 2.5s ease-in forwards;
}

.menu-preview {
	color:#fff;
	font-size:5em;
	position: relative;
	bottom: 85%;
	left: 42%;
	transition:.5s;
}

/* ANIMATIONS */

@keyframes animation-a {
	0% {width:100vw; height:100vh;transform: rotate(0deg);}
	1% {width: 150vw; height:150vw; border-radius:50%;transform: rotate(180deg);}
	2% {width: 100vw; height:100vw; border-radius:50%;transform: rotate(180deg);}
	10% {width:200px; height:200px; border-radius:50%;transform: rotate(180deg);}
	15% {width:200px; height:200px; border-radius:50%;transform: rotate(180deg);}
	20% {width:80vw; height:94px; border-radius:0;transform: rotate(0deg);}
	24.5% {width:80vw; height:94px; border-radius:0;transform: rotate(0deg);}
	29.5% {width:80vw; height:94px; border-radius:0;transform: rotate(0deg);transform: translateX(0px);}
	32% {width:80vw; height:94px; border-radius:0;transform: rotate(0deg);transform: translateX(0px) translateY(0px);pointer-events:none;}
	37% {width:80vw; height:94px; border-radius:0;transform: rotate(0deg);transform: translateX(0px) translateY(-150px);pointer-events:none;}
	38% {width:80vw; height:94px; border-radius:0;transform: rotate(0deg);transform: translateX(0px) translateY(-150px);pointer-events:auto;}
	100% {width:80vw; height:94px; border-radius:0;transform: rotate(0deg);transform: translateX(0px) translateY(-150px);pointer-events:auto;}
}

@keyframes animation-b {
	0% {transform: translateX(0);}
	24.5% {transform: translateX(0);opacity:0;}
	29.5% {transform: translateX(0px);opacity:100;}
	32% {transform: translateX(0px) translateY(0px);opacity:100;pointer-events:none;}
	37% {transform: translateX(0px) translateY(-50px);opacity:100;pointer-events:none;}
	38% {transform: translateX(0px) translateY(-50px);opacity:100;pointer-events:auto;}
	100% {transform: translateX(0px) translateY(-50px);opacity:100;pointer-events:auto;}
}

@keyframes animation-c {
	0% {opacity:0;transform: translateX(0px) translateY(0px);}
	24.5% {opacity:0;transform: translateX(0px) translateY(0px);}
	29.5% {opacity:0;transform: translateX(0px) translateY(0px);}
	32% {opacity:0;transform: translateX(0px) translateY(0px);pointer-events:none;}
	37% {opacity:100;transform: translateX(0px) translateY(50px);pointer-events:none;}
	38% {opacity:100;transform: translateX(0px) translateY(50px);pointer-events:auto;}
	100% {opacity:100;transform: translateX(0px) translateY(50px);pointer-events:auto;}
}

@keyframes animation-d {
	0% {opacity:0;transform: translateX(0px) translateY(0px);}
	24.5% {opacity:0;transform: translateX(0px) translateY(0px);}
	29.5% {opacity:0;transform: translateX(px) translateY(0px);}
	32% {opacity:0;transform: translateX(0px) translateY(0px);pointer-events:none;}
	37% {opacity:100;transform: translateX(0px) translateY(150px);pointer-events:none;}
	38% {opacity:100;transform: translateX(0px) translateY(150px);pointer-events:auto;}
	100% {opacity:100;transform: translateX(0px) translateY(150px);pointer-events:auto;}
}

@keyframes appear {
	0% {opacity:0;}
	100% {opacity:100;}
}

@keyframes fade-in {
	0% {visibility:hidden;}
	36.9% {visibility:hidden;}
	37% {visibility:hidden;}
	100% {visibility:visible;}
}


@media only screen and (min-width:850px) {

	.desktop {
		visibility:visible;
	}

	.mobile {
		visibility:hidden;
	}

	.menu-box {
		width:200px; 
		height:200px; 
		pointer-events: none;
	}

	.menu-box:hover {
		cursor:pointer;
	}

	.menu-box:hover .menu-preview {
		transform: translateY(50px);
	}

	.menu-box:hover .menu-label {
		opacity:100 !important;
		transform: translateY(0px);
	}

	.menu-label {
		visibility: hidden;
		opacity:0;
		transform:translateY(-50px);
		animation:fade-in 10s 1s forwards;
	}

	#menu-box-a .menu-label {
		opacity: 0;
		animation:fade-in 10s 1s forwards !important;
	}

	#menu-box-a .menu-preview {
		animation:appear 0.5s 2.5s ease-in forwards;
		opacity:0;
	}

	@keyframes animation-a {
		0% {width:100vw; height:100vh;transform: rotate(180deg);}
		1% {width: 200vw; height:200vw; border-radius:50%;transform: rotate(180deg);}
		2% {width: 100vw; height:100vw; border-radius:50%;transform: rotate(180deg);}
		10% {width:200px; height:200px; border-radius:50%;transform: rotate(180deg);}
		15% {width:200px; height:200px; border-radius:50%;transform: rotate(180deg);}
		20% {width:200px; height:200px; border-radius:0;transform: rotate(0deg);}
		24.5% {width:200px; height:200px; border-radius:0;transform: rotate(0deg);}
		29.5% {width:200px; height:200px; border-radius:0;transform: rotate(0deg);transform: translateX(-110px);}
		32% {width:200px; height:200px; border-radius:0;transform: rotate(0deg);transform: translateX(-110px) translateY(0px);pointer-events:none;}
		37% {width:200px; height:200px; border-radius:0;transform: rotate(0deg);transform: translateX(-110px) translateY(-110px);pointer-events:none;}
		38% {width:200px; height:200px; border-radius:0;transform: rotate(0deg);transform: translateX(-110px) translateY(-110px);pointer-events:auto;}
		100% {width:200px; height:200px; border-radius:0;transform: rotate(0deg);transform: translateX(-110px) translateY(-110px);pointer-events:auto;}
	}

	@keyframes animation-b {
		0% {transform: translateX(0);}
		24.5% {transform: translateX(0);opacity:0;}
		29.5% {transform: translateX(110px);opacity:100;}
		32% {transform: translateX(110px) translateY(0px);opacity:100;pointer-events:none;}
		37% {transform: translateX(110px) translateY(-110px);opacity:100;pointer-events:none;}
		38% {transform: translateX(110px) translateY(-110px);opacity:100;pointer-events:auto;}
		100% {transform: translateX(110px) translateY(-110px);opacity:100;pointer-events:auto;}
	}

	@keyframes animation-c {
		0% {opacity:0;transform: translateX(0px) translateY(0px);}
		24.5% {opacity:0;transform: translateX(0px) translateY(0px);}
		29.5% {opacity:0;transform: translateX(-110px) translateY(0px);}
		32% {opacity:0;transform: translateX(-110px) translateY(0px);pointer-events:none;}
		37% {opacity:100;transform: translateX(-110px) translateY(110px);pointer-events:none;}
		38% {opacity:100;transform: translateX(-110px) translateY(110px);pointer-events:auto;}
		100% {opacity:100;transform: translateX(-110px) translateY(110px);pointer-events:auto;}
	}

	@keyframes animation-d {
		0% {opacity:0;transform: translateX(0px) translateY(0px);}
		24.5% {opacity:0;transform: translateX(0px) translateY(0px);}
		29.5% {opacity:0;transform: translateX(110px) translateY(0px);}
		32% {opacity:0;transform: translateX(110px) translateY(0px);pointer-events:none;}
		37% {opacity:100;transform: translateX(110px) translateY(110px);pointer-events:none;}
		38% {opacity:100;transform: translateX(110px) translateY(110px);pointer-events:auto;}
		100% {opacity:100;transform: translateX(110px) translateY(110px);pointer-events:auto;}
	}


}

/* ABOUT PAGE */

#about {
	display:inline-block;
	position:relative;
}


.menu {
	height: 100%; 
	width: 0;
	position: fixed; 
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #d3d4d9;
	text-transform: lowercase;;
	overflow-x: hidden; 
	padding-top: 20px; 
	transition: 0.5s; 
	font-family: 'Roboto Slab', serif;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

/* The navigation menu links */
.menu a.link {
	list-style: none;
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.menu a:hover {
	color: #fff;
}

a.icon {
	background: #d3d4d9;
	color: #fff;
	display: block;
	position: absolute;
	right:0px;
	top:0;
	padding: 14px 16px;
	transition:0.5s;
	z-index: 1;
}

a.icon:hover {
	background-color: #42cafd;
	color: #fff;
}

#main {
	transition: margin-right .5s;
}

@media screen and (max-height: 450px) {
	.menu {padding-top: 15px;}
	.menu a {font-size: 18px;}
}

/* BAKING */

#topMenu {
	height:50px;
	width:100%;
	transition:0.5s;
	position:absolute;
}

#topMenu a {
	transition:0.5s;
	position:relative;
	display:inline-block;
	width:145px;
	height:20px;
}

#topMenu a p {
	color:#fff;
	text-decoration:none;
	margin:0 auto;
	left:30px;
	top:10px;
	font-size:1.25em;
	position:absolute;
	text-align:left;
	text-transform: lowercase;
	font-family: 'Roboto Slab', serif;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

#topMenu .active .menu-option {
	fill:#2F4858;
	cursor:default;
}

#topMenu .active:hover .menu-option {
	cursor:default;
}

#trapezoid {
	width:200px;
	height:50px;
	padding:0;
	margin:0;
	float:left;
}

.menu-option {
	fill:#42cafd;
	transition: 0.5s
}

#topMenu a:hover .menu-option {
	fill:#2F4858;
	cursor:pointer;
}

#main {
	padding-top:50px;
}

#main h1 {
	font-family: 'Roboto Slab', serif;
}

#main p {
	font-family: 'Quicksand', serif;
}
