* {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
}

/* HEADER STYLINGS */

.container-fluid {
    padding: 0 !important;
    background: white;
}

.header {
    padding: 0 80px;
    height: 85px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
}

.header-container {
    width: 100%;
    display: flex;
}

.logo {
    background-image: url("./assets/anisa.svg");
    background-position: 0px;
    background-size: 100px 93px;
    background-repeat: no-repeat;
}

.desktop,
    {
    display: block;
}

.mobile {
    display: none;
}

.menu {
    float: right;
    margin-top: 30px;
}

.menu.desktop a:first-of-type {
    margin-left: 0px;
}

.menu.desktop a,
.dropdown .dropbtn {
    list-style: none;
    float: left;
    margin-left: 48px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 0.9em;
    border-bottom: 3px solid #fff;
    transition: 0.5s;
}

.menu.desktop a:hover {
    text-decoration: none;
    border-bottom: 3px solid #ccc;
}

.menu.desktop a.active {
    font-weight: 600;
    border-bottom: 3px solid #8FA795;
}

/* MENU STYLINGS */

/* Style the navigation menu */
.menu.mobile {
    overflow: hidden;
    background-color: white;
    position: relative;
    float: none;
    margin: 0;
    height: 85px;
    font-weight: 400;
}

/* Hide the links inside the navigation menu (except for logo/home) */
#menuLinks {
    display: none;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
}

/* Style navigation menu links */
#menuLinks a,
.menu.mobile a {
    color: #2C2C2C;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #fff;
    transition: 0.5s;
    text-transform: uppercase;
}

#menuLinks a,
#menuLinks .dropdown {
    padding: 16px 30px;
    width: 100%;
    border-bottom: 1px solid #BFBFBF;
    font-size: 17px;
}

#menuLinks a.active {
    font-weight: 600;
}

#menuLinks .dropdown {
    float: none;
    display: inline-block;
}

#menuLinks .dropdown .dropbtn {
    margin: 0;
    padding: 0;
    font-size: 17px;
}

#menuLinks .dropdown-content {
    position: relative;
    margin: 40px 0 0;
    padding: 0 !important;
    box-shadow: none;
}

#menuLinks .dropdown-content a {
    width: 100%;
    display: inline-block !important;
    border-bottom: none !important;
    margin: 0 !important;
    padding: 0 0 10px;
    color: #898989;
}

/* Style the hamburger menu */
.menu.mobile a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
    padding: 14px 16px;
    font-size: 30px;
}

/* Style a dropdown menu */
.dropdown {
    float: left;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    padding: 0;
    background: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin: 20px 24px;
    padding: 0 0 16px 0;
    min-width: 160px;
    z-index: 2;
    background: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);

}

.dropdown-content a {
    color: black;
    text-decoration: none;
    text-align: left;
    margin: 16px 24px 0px 24px !important;
}

.dropdown:hover .dropbtn {
    color: black;
}

.dropdown-content a:hover {
    color: black;
    border-bottom: 3px solid #ccc;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* PAGE STYLINGS */

.page-container {
    padding: 0 80px;
    position: relative;
}

.no-overflow {
    overflow: hidden;
}

figure.post {
    margin: 0px 0px 1em 1em;
    float: right;
    width: 25%;
    max-height: 500px;
}

figure.post.wide {
    width: 35%;
}

figure.post figcaption {
    font-style: italic;
    margin: 0.5em 0.5em 1.5em;
    text-align: center;
    color: #898989;
    font-size: 0.9em;
}

figure.post img,
figure.post video {
    max-height: inherit;
    margin: 0 auto;
    display: block;
}

figure.post video {
    width: 100%;
}

figure.post.video, {
    margin: 0 1em 2em;
}

figure.post.video.wide {
    margin: 0 1em 0em;
}

.wide-video {
    width: 100%;
    margin: 0;
    height: 50vw;
    padding: 0.5em 0 1em;
}

#backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #627166;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 100px;
    font-size: 18px;
    width: 50px;
    height: 50px;
}

#backToTop:hover {
    background-color: #3E3E3E;
    /* Add a dark-grey background on hover */
}

.coop-logo {
    display: inline-block;
    height: 1.2em;
    width: auto;
    padding-bottom: 0.2em;
    margin: 0 0.1em;
}

.video-container,
.video-container video {
    width: 100%;
}

/* CHAT WINDOW STYLINGS */

.windows-container {
    height: 650px;
}

.window.back {
    width: 995px;
    max-width: 90%;
}

.window.back svg {
    width: 995px;
}

.window.front.desktop svg {
    width: 750px;
}

.window.front.mobile svg {
    width: 100%;
}

.window.front.mobile {
    display: none;
    top: 120px;
    right: 7.5%;
    width: 506px;
    max-width: 100%;
}

.window.front.desktop {
    top: 150px;
    right: 80px;
    min-width: 750px;
    max-width: 80%;
    display: block;
}

.window {
    position: absolute;
    float: left;
    top: 20px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
}

.window.desktop {
    margin-bottom: 20px;
}

.anim1,
.anim2,
.anim3,
.anim4,
.anim5,
.anim6,
.anim7,
.anim8,
.anim9,
.anim10,
.anim11,
.anim12,
.anim13 {
    display: none;
}

.browser-window {
    fill: #F8F8F8;
}

.asker-message {
    fill: #E0E0E0;
}

.asker-bubble,
.chat-button-one {
    fill: #B2B2B2;
}

.chat-button-two {
    fill: #9F9F9F;
}

.browser {
    fill: #3E3E3E;
}

.my-icon,
.browser-front-window {
    fill: #627166;
}

.chat-bubble {
    fill: #CFE5D0;
}

.browser-tab-2 {
    fill: #8FA795;
}

.red-button {
    fill: #DBBFBF;
}

.yellow-button {
    fill: #DBD6BF;
}

.green-button {
    fill: #C7DBBF;
}

.chat-message-bar {
    fill: #D6D6D6;
}

.airplane-wing-left,
.airplane-wing-right {
    fill: #FFFFFF;
}

.airplane-middle {
    fill: #DEDDDD;
}

.airplane-bottom {
    fill: #C4C4C4;
}

.back-browser-top {
    fill: #E8E8E8;
}

.back-browser-tab {
    fill: #8FA795;
}

.back-browser-window {
    fill: #DDE6D2;
}

.back-browser-button {
    fill: #9D9D9D;
}

.desktop svg text {
    font-size: 1.1em;
}

.mobile svg text {
    font-size: 0.95em;
}

/* ABOUT */

.page-title {
    font-size: 0.9em;
    color: #898989;
    margin: 28px 0 20px;
}

.text-container {
    margin-bottom: 48px !important;
}

.text-container h1 {
    font-size: 2.2em;
    margin-bottom: 16px !important;
    color: #2C2C2C;
    font-weight: 800 !important;
}

.text-container h2 {
    font-size: 1.5em;
    color: #2C2C2C;
    font-weight: 600 !important;
}

.text-container h3 {
    font-size: 0.9em;
    color: #898989;
    margin: 4px 0 12px;
}

.text-container p {
    color: #2C2C2C;
    font-size: 1em;
}

.text-container a {
    color: #8FA795;
}

.text-container a:hover {
    color: #6E8873;
    text-decoration: none;
}

.button-container {
    margin-bottom: 20px;
}

button.page {
    padding: 20px 40px;
    border: none;
    margin: 0 20px 20px 0 !important;
    text-transform: uppercase !important;
    font-weight: 800;
    color: #393939;
    letter-spacing: 1.5;
    font-size: 0.9em !important;
    transition: 0.5s;
}

button.primary {
    background-color: #8FA795;
}

button.primary:hover {
    background-color: #6E8873;
}

button.secondary {
    background-color: #C9C9C9;
}

button.secondary:hover {
    background-color: #9F9F9F;
}

button:hover {
    cursor: pointer;
}

button:active,
button:focus {
    border: none !important;
    outline: none !important;
}

img.portrait {
    width: 480px;
    float: right;
    display: inline-block;
    margin: 0 15px 0 70px;
    transform: translateY(-100px);
}

hr {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

/* RESUME */

.resume-container {
    width: 100%;
    margin-bottom: 20px;
}

.resume-container img {
    max-width: 1080px;
    width: 100%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
}

.resume-container a {
    color: #8FA795;
}

.resume-container a:hover {
    color: #6E8873;
    text-decoration: none;
}

/* CONTACT */

#contact-bar {
    width: 100%;
    position: relative;
    display: block;
    float: left;
    margin: 0 auto;
    padding: 0 0 10px;
}

#contact-bar p {
    margin: 0 0 1rem 1.5rem;
    font-size: 1em;
    width: auto;
}

#contact-bar #social-media {
    display: block;
    width: max-content;
    margin: 0 auto;
}

#contact-bar .sm-icon {
    float: left;
    font-size: 1.1em;

    border: 2px solid #8FA795;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 15px;
    margin: 10px;

    transition: 0.5s;

}

#contact-bar .sm-icon a {
    transition: 0.5s;
    color: #8FA795;
}

#contact-bar .sm-icon:hover {
    cursor: pointer;
    border: 2px solid #6E8873;
}

#contact-bar .sm-icon:hover a {
    color: #6E8873;
}

/*
#contact-bar p {
        margin: 0 0 1rem 1.5rem;
        font-size: 1.25rem;
        width: auto;
    }

    #social-media {
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    .sm-icon {
        width: 23%;
        height: auto;
        float: left;
        margin-left: auto;
        text-align: center;
        font-size: 30px;
}
*/

/* FOOTER */

#footer {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

#footer p {
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 1;
    color: #747171;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 1850px) {

    .page-container,
    .header-container {
        max-width: 1800px;
        padding: 0;
        margin: 0 auto;
    }

    .window.front.desktop {
        right: 20px;
    }

    .windows-container {
        height: 1050px;
    }

}

@media only screen and (min-width: 1600px) {

    .window.back {
        width: 75%;
        max-width: 90%;
    }

    .window.back svg {
        width: auto;
    }

    .window.front.desktop {
        width: 60%;
    }

    .window.front.desktop svg {
        width: auto;
    }

    .windows-container {
        height: 800px;
    }
}


@media only screen and (min-width: 1700px) {

    .windows-container {
        height: 850px;
    }

}

@media only screen and (max-width: 1100px) {

    .page-container {
        padding: 0 5%;
    }

    .header {
        padding: 0 20px !important;
    }

    .menu {
        padding-right: 20px;
    }

    .menu.desktop a {
        margin-left: 40px;
    }

    .logo {
        left: 2.5%;
    }

    img.portrait {
        width: 400px;
        margin-bottom: 200px;
    }

}

@media only screen and (min-width: 880px) {

    #menuLinks {
        display: none !important;
    }

}


@media only screen and (max-width: 880px) {

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .window.front.mobile {
        display: block;
        max-width: 80%;
    }

    .window.front.desktop {
        display: none;
    }

    .page-title {
        width: 100%;
    }

    img.portrait {
        width: 100%;
        float: none;
        display: block;
        margin: 0;
        transform: none;
        margin-bottom: 40px;
    }

    .windows-container {
        height: 900px;
    }

    figure.post,
    figure.post.wide {
        text-align: center;
        width: 100%;
        height: auto;
        max-height: none;
    }

    figure.post.video {
        margin: 0 0 2em;
    }

    figure.post.video.wide {
        margin: 0 0 1em;
    }

    figure.post figcaption {
        margin: 0;
    }

    figure.post img,
    figure.post video {
        width: 50%;
        margin: 1em 25%;
    }

    figure.post.short img {
        width: 80%;
        margin: 1em 10%;
    }

    figure.post.wide video {
        width: 80%;
        margin: 1em 10%;
    }

    hr {
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }

    .wide-video {
        width: 100%;
        margin: 0;
        height: 50vw;
    }
}



@media only screen and (max-width: 600px) {

    .windows-container {
        height: 850px;
    }

    figure.post.video {
        margin: 0 0 2em;
    }

}



@media only screen and (max-width: 500px) {

    .windows-container {
        height: 750px;
    }

    figure.post.video {
        margin: 0 0 1em;
    }

}