* {
    font-family: Proxima Nova;
    font-weight: 400;
}

/* HEADER STYLINGS */

.container-fluid {
    padding: 0 !important;
}

.header {
    padding: 0 60px;
    height: 85px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
}

.logo {
    background-image: url("./assets/anisa.svg");
    background-position: 0px;
    background-size: 100px 93px;
    background-repeat: no-repeat;
}

.menu.desktop {
    display: block;
}

.menu.mobile {
    display: none;
}

.menu {
    float: right;
    margin-top: 30px;
}

.menu li {
    list-style: none;
    float: left;
    margin-left: 48px;
    text-decoration: none;
}

.menu li a {
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
}

.menu li a:hover {
    text-decoration: none;
    border-bottom: 3px solid #ccc;
}

.menu li.active a,
.menu .active a {
    font-weight: 600;
    border-bottom: 3px solid #ACBFB1;
}

/* MENU STYLINGS */

/* Style the navigation menu */
.menu.mobile {
    overflow: hidden;
    background-color: white;
    position: relative;
    float: none;
    margin: 0;
    height: 85px;
    font-weight: 400;
}

/* Hide the links inside the navigation menu (except for logo/home) */
#menuLinks {
    display: none;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
}

/* Style navigation menu links */
#menuLinks a,
.menu.mobile a {
    color: #2C2C2C;
    text-decoration: none;
    display: block;
}

#menuLinks a {
    padding: 16px 30px;
    border-bottom: 1px solid #BFBFBF;
    font-size: 17px;
}

#menuLinks a.active {
    font-weight: 600;
}

/* Style the hamburger menu */
.menu.mobile a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
    padding: 14px 16px;
    font-size: 30px;
}

/* PAGE STYLINGS */

.page-container {
    padding: 0 60px;
    position: relative;
}

/* CHAT WINDOW STYLINGS */

.window.back {
    width: 995px;
    max-width: 90%;
}

.window.back svg {
    width: 995px;
}

.window.front.desktop svg {
    width: 750px;
}

.window.front.mobile svg {
    width: 100%;
    margin-bottom: 20px;
}

.window.front.mobile {
    display: none;
    top: 120px;
    right: 7.5%;
    width: 506px;
    max-width: 100%;
}

.window.front.desktop {
    top: 150px;
    right: 60px;
    width: 750px;
    max-width: 80%;
    display: block;
}

.window {
    position: absolute;
    float: left;
    top: 20px;
    border-radius: 15px;
    overflow: hidden;
}

.anim1,
.anim2,
.anim3,
.anim4,
.anim5,
.anim6,
.anim7,
.anim8,
.anim9,
.anim10,
.anim11,
.anim12,
.anim13 {
    display: none;
}

.browser-window {
    fill: #F8F8F8;
}

.asker-message {
    fill: #E0E0E0;
}

.asker-bubble,
.chat-button-one {
    fill: #B2B2B2;
}

.chat-button-two {
    fill: #9F9F9F;
}

.browser {
    fill: #3E3E3E;
}

.my-icon,
.browser-front-window {
    fill: #627166;
}

.chat-bubble {
    fill: #CFE5D0;
}

.browser-tab-2 {
    fill: #ACBFB1;
}

.red-button {
    fill: #DBBFBF;
}

.yellow-button {
    fill: #DBD6BF;
}

.green-button {
    fill: #C7DBBF;
}

.chat-message-bar {
    fill: #D6D6D6;
}

.airplane-wing-left,
.airplane-wing-right {
    fill: #FFFFFF;
}

.airplane-middle {
    fill: #DEDDDD;
}

.airplane-bottom {
    fill: #C4C4C4;
}

.back-browser-top {
    fill: #E8E8E8;
}

.back-browser-tab {
    fill: #ACBFB1;
}

.back-browser-window {
    fill: #DDE6D2;
}

.back-browser-button {
    fill: #9D9D9D;
}

.desktop svg text {
    font-size: 17px;
}

.mobile svg text {
    font-size: 15px;
}

/* RESUME */

.resume-container {
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1100px) {

    .header,
    .page-container {
        padding: 0 5%;
    }

    .logo {
        left: 2.5%;
    }

}

@media only screen and (min-width: 880px) {

    #menuLinks {
        display: none !important;
    }

}

@media only screen and (max-width: 880px) {

    .menu.desktop {
        display: none;
    }

    .menu.mobile {
        display: block;
    }

    .window.front.mobile {
        display: block;
        max-width: 80%;
    }

    .window.front.desktop {
        display: none;
    }

}