body {
    background-color: #fff;
    position: relative;
    margin: 0 auto;
    height: 100%;
}

.desktop {
    visibility: hidden;
}

.mobile {
    visibility: visible;
}

a {
    text-decoration: none;
    color: #83C9F4;
    font-weight: 250;
}

a:hover {
    color: #3D5A80;
    cursor: pointer;
}

/* HOME PAGE */

#page-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

#page-container p {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    font-family: 'Quicksand', sans-serif;
    font-size: .75em;
    color: #83C9F4;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

#page-container p a {
    opacity: 0;
    animation: appear 1s 1s forwards;
    color: #83C9F4;
    text-decoration: none;
}

#page-container p a:hover {
    color: #1481ba;
}

.menu-box {
    width: 80vw;
    height: 94px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: 0;
    overflow: hidden;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

#menu-box-a {
    opacity: 100;
    background-color: #83C9F4;
    width: 100vw;
    height: 100vh;
    animation: animation-a 10s 1s forwards;
}

#menu-box-b {
    background-color: #C1CAD6;
    animation: animation-b 10s 1s forwards;
}

#menu-box-c {
    background-color: #3D5A80;
    animation: animation-c 10s 1s forwards;
}

#menu-box-d {
    background-color: #A3D5FF;
    animation: animation-d 10s 1s forwards;
}

.menu-box h1 {
    font-family: 'Roboto Slab', serif;
}

.menu-label {
    color: #fff;
    transition: 0.5s;
}

#menu-box-a .menu-label {
    opacity: 0;
    animation: appear 0.5s 2.5s ease-in forwards;
}

.menu-preview {
    color: #fff;
    font-size: 5em;
    position: relative;
    bottom: 85%;
    left: 12%;
    transition: .5s;
}

/* ANIMATIONS */

@keyframes animation-a {
    0% {
        width: 100vw;
        height: 100vh;
        border-radius: 0%;
        transform: rotate(0deg) translateX(0px) translateY(0px);
        pointer-events: none;
    }

    1% {
        width: 150vw;
        height: 150vw;
        border-radius: 50%;
        transform: rotate(180deg) translateX(0px) translateY(0px);
        pointer-events: none;
    }

    2% {
        width: 100vw;
        height: 100vw;
        border-radius: 50%;
        transform: rotate(180deg) translateX(0px) translateY(0px);
        pointer-events: none;
    }

    10% {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        transform: rotate(180deg) translateX(0px) translateY(0px);
        pointer-events: none;
    }

    15% {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        transform: rotate(180deg) translateX(0px) translateY(0px);
        pointer-events: none;
    }

    20% {
        width: 80vw;
        height: 94px;
        border-radius: 0;
        transform: rotate(0deg) translateX(0px) translateY(0px);
        pointer-events: none;
    }

    24.5% {
        width: 80vw;
        height: 94px;
        border-radius: 0;
        transform: rotate(0deg) translateX(0px) translateY(0px);
        pointer-events: none;
    }

    29.5% {
        width: 80vw;
        height: 94px;
        border-radius: 0;
        transform: rotate(0deg) translateX(0px) translateY(0px);
        pointer-events: none;
    }

    32% {
        width: 80vw;
        height: 94px;
        border-radius: 0;
        transform: rotate(0deg) translateX(0px) translateY(0px);
        pointer-events: none;
    }

    37% {
        width: 80vw;
        height: 94px;
        border-radius: 0;
        transform: rotate(0deg) translateX(0px) translateY(-150px);
        pointer-events: none;
    }

    38% {
        width: 80vw;
        height: 94px;
        border-radius: 0;
        transform: rotate(0deg) translateX(0px) translateY(-150px);
        pointer-events: auto;
    }

    100% {
        width: 80vw;
        height: 94px;
        border-radius: 0;
        transform: rotate(0deg) translateX(0px) translateY(-150px);
        pointer-events: auto;
    }
}

@keyframes animation-b {
    0% {
        transform: translateX(0) translateY(0px);
        opacity: 0;
        pointer-events: none;
    }

    24.5% {
        transform: translateX(0) translateY(0px);
        opacity: 0;
        pointer-events: none;
    }

    29.5% {
        transform: translateX(0px) translateY(0px);
        opacity: 100;
        pointer-events: none;
    }

    32% {
        transform: translateX(0px) translateY(0px);
        opacity: 100;
        pointer-events: none;
    }

    37% {
        transform: translateX(0px) translateY(-50px);
        opacity: 100;
        pointer-events: none;
    }

    38% {
        transform: translateX(0px) translateY(-50px);
        opacity: 100;
        pointer-events: auto;
    }

    100% {
        transform: translateX(0px) translateY(-50px);
        opacity: 100;
        pointer-events: auto;
    }
}

@keyframes animation-c {
    0% {
        opacity: 0;
        transform: translateX(0px) translateY(0px);
        pointer-events: none;
    }

    24.5% {
        opacity: 0;
        transform: translateX(0px) translateY(0px);
        pointer-events: none;
    }

    29.5% {
        opacity: 0;
        transform: translateX(0px) translateY(0px);
        pointer-events: none;
    }

    32% {
        opacity: 0;
        transform: translateX(0px) translateY(0px);
        pointer-events: none;
    }

    37% {
        opacity: 100;
        transform: translateX(0px) translateY(50px);
        pointer-events: none;
    }

    38% {
        opacity: 100;
        transform: translateX(0px) translateY(50px);
        pointer-events: auto;
    }

    100% {
        opacity: 100;
        transform: translateX(0px) translateY(50px);
        pointer-events: auto;
    }
}

@keyframes animation-d {
    0% {
        opacity: 0;
        transform: translateX(0px) translateY(0px);
        pointer-events: none;
    }

    24.5% {
        opacity: 0;
        transform: translateX(0px) translateY(0px);
        pointer-events: none;
    }

    29.5% {
        opacity: 0;
        transform: translateX(px) translateY(0px);
        pointer-events: none;
    }

    32% {
        opacity: 0;
        transform: translateX(0px) translateY(0px);
        pointer-events: none;
    }

    37% {
        opacity: 100;
        transform: translateX(0px) translateY(150px);
        pointer-events: none;
    }

    38% {
        opacity: 100;
        transform: translateX(0px) translateY(150px);
        pointer-events: auto;
    }

    100% {
        opacity: 100;
        transform: translateX(0px) translateY(150px);
        pointer-events: auto;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@keyframes fade-in {
    0% {
        visibility: hidden;
    }

    36.9% {
        visibility: hidden;
    }

    37% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}


@media only screen and (min-width:850px) {

    .desktop {
        visibility: visible;
    }

    .mobile {
        visibility: hidden;
    }

    .menu-box {
        width: 200px;
        height: 200px;
        pointer-events: none;
    }

    .menu-box:hover {
        cursor: pointer;
    }

    .menu-box:hover .menu-preview {
        transform: translateY(50px);
    }

    .menu-box:hover .menu-label {
        opacity: 100 !important;
        transform: translateY(0px);
    }

    .menu-label {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-50px);
        animation: fade-in 10s 1s forwards;
    }

    #menu-box-a .menu-label {
        opacity: 0;
        animation: fade-in 10s 1s forwards !important;
    }

    #menu-box-a .menu-preview {
        animation: appear 0.5s 2.5s ease-in forwards;
        opacity: 0;
    }

    @keyframes animation-a {
        0% {
            width: 100vw;
            height: 100vh;
            transform: rotate(180deg);
        }

        1% {
            width: 200vw;
            height: 200vw;
            border-radius: 50%;
            transform: rotate(180deg) translateX(0px) translateY(0px);
            pointer-events: none;
        }

        2% {
            width: 100vw;
            height: 100vw;
            border-radius: 50%;
            transform: rotate(180deg) translateX(0px) translateY(0px);
            pointer-events: none;
        }

        10% {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            transform: rotate(180deg) translateX(0px) translateY(0px);
            pointer-events: none;
        }

        15% {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            transform: rotate(180deg) translateX(0px) translateY(0px);
            pointer-events: none;
        }

        20% {
            width: 200px;
            height: 200px;
            border-radius: 0;
            transform: rotate(0deg) translateX(0px) translateY(0px);
            pointer-events: none;
        }

        24.5% {
            width: 200px;
            height: 200px;
            border-radius: 0;
            transform: rotate(0deg) translateX(0px) translateY(0px);
            pointer-events: none;
        }

        29.5% {
            width: 200px;
            height: 200px;
            border-radius: 0;
            transform: rotate(0deg) translateX(-110px) translateY(0px);
            pointer-events: none;
        }

        32% {
            width: 200px;
            height: 200px;
            border-radius: 0;
            transform: rotate(0deg) translateX(-110px) translateY(0px);
            pointer-events: none;
        }

        37% {
            width: 200px;
            height: 200px;
            border-radius: 0;
            transform: rotate(0deg) translateX(-110px) translateY(-110px);
            pointer-events: none;
        }

        38% {
            width: 200px;
            height: 200px;
            border-radius: 0;
            transform: rotate(0deg) translateX(-110px) translateY(-110px);
            pointer-events: auto;
        }

        100% {
            width: 200px;
            height: 200px;
            border-radius: 0;
            transform: rotate(0deg) translateX(-110px) translateY(-110px);
            pointer-events: auto;
        }
    }

    @keyframes animation-b {
        0% {
            transform: translateX(0);
        }

        24.5% {
            transform: translateX(0);
            opacity: 0;
        }

        29.5% {
            transform: translateX(110px);
            opacity: 100;
        }

        32% {
            transform: translateX(110px) translateY(0px);
            opacity: 100;
            pointer-events: none;
        }

        37% {
            transform: translateX(110px) translateY(-110px);
            opacity: 100;
            pointer-events: none;
        }

        38% {
            transform: translateX(110px) translateY(-110px);
            opacity: 100;
            pointer-events: auto;
        }

        100% {
            transform: translateX(110px) translateY(-110px);
            opacity: 100;
            pointer-events: auto;
        }
    }

    @keyframes animation-c {
        0% {
            opacity: 0;
            transform: translateX(0px) translateY(0px);
        }

        24.5% {
            opacity: 0;
            transform: translateX(0px) translateY(0px);
        }

        29.5% {
            opacity: 0;
            transform: translateX(-110px) translateY(0px);
        }

        32% {
            opacity: 0;
            transform: translateX(-110px) translateY(0px);
            pointer-events: none;
        }

        37% {
            opacity: 100;
            transform: translateX(-110px) translateY(110px);
            pointer-events: none;
        }

        38% {
            opacity: 100;
            transform: translateX(-110px) translateY(110px);
            pointer-events: auto;
        }

        100% {
            opacity: 100;
            transform: translateX(-110px) translateY(110px);
            pointer-events: auto;
        }
    }

    @keyframes animation-d {
        0% {
            opacity: 0;
            transform: translateX(0px) translateY(0px);
        }

        24.5% {
            opacity: 0;
            transform: translateX(0px) translateY(0px);
        }

        29.5% {
            opacity: 0;
            transform: translateX(110px) translateY(0px);
        }

        32% {
            opacity: 0;
            transform: translateX(110px) translateY(0px);
            pointer-events: none;
        }

        37% {
            opacity: 100;
            transform: translateX(110px) translateY(110px);
            pointer-events: none;
        }

        38% {
            opacity: 100;
            transform: translateX(110px) translateY(110px);
            pointer-events: auto;
        }

        100% {
            opacity: 100;
            transform: translateX(110px) translateY(110px);
            pointer-events: auto;
        }
    }


}

/* MENU */


nav {
    display: block;
    font-family: 'Roboto Slab', serif;
    font-weight: auto;
    text-align: left;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    width: 100%;
    height: 50px;
    text-transform: lowercase;
}

nav ul {
    list-style: none;
    font-size: 1.8vw;
}

nav li {
    display: inline-block;
}

nav a {
    color: #000;
}

nav a:hover {
    color: #83C9F4;
}

nav a.active {
    color: #83C9F4 !important;
}


nav img {
    width: 50px;
    height: auto;
    display: inline-block;

}

/* ABOUT */
#main {
    float: left;
    color: #000;
    margin: 0;
    width: 55vw;
    padding: 45px 5%;
}

#main h1 {
    font-size: 3em;
    padding-top: 3.5vw;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    position: relative;
    letter-spacing: 0em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

#main p {
    font-size: 1.25rem;
    font-weight: 100;
    line-height: 1.25em;
    font-family: 'Quicksand', sans-serif;
    display: block;
    position: relative;
}

#profile-bar {
    width: 30vw;
    position: relative;
    display: inline-block;
    float: left;
    margin: 2.5% 2.5% 2.5% 0;
}

#profile-image {
    width: 25vw;
    height: 25vw;
    display: inline-block;
    float: left;
    position: relative;
    border-radius: 50%;
    margin-top: 17.5%;
    margin-left: 5%;
    margin-bottom: 15%;
    background-image: url("./anisa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#social-media {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.sm-icon {
    width: 23%;
    height: auto;
    float: left;
    margin-left: auto;
    text-align: center;
    font-size: 30px;
}

/* OPTION BLOCKS */

.block-stack {
    width: 100%;
}

.block-row {
    width: 100%;
    display: inline-block;
}

.option-block {
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-color: #000;
    margin: 10px;
    float: right;
}

.option-label {
    font-family: 'Roboto Slab', serif;
    color: #fff;
    transition: 0.5s;
}

.option-image {
    position: relative;
    height: 100%;
    transition: 0.5s;
}

.option-image img {
    height: 100%;
    display: block;
}


.option-block:hover {
    cursor: pointer;
}

.option-block:hover .option-image {
    opacity: 0.25;
}

.option-block:hover .option-label {
    opacity: 100 !important;
    transform: translateY(-80px);
}

.option-label {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100px);
    animation: fade-in 0s 0s forwards;
}