* {
	transition: 0.5s;
}

body.dark {
	background-color:#403F4C;
}

.name h1.dark { 
	color:#fff;
}

#mode-toggle {
	width:100%;
	position:relative;
	font-family: 'Quicksand', sans-serif;
	text-align:center;
	top:2.5vw;
}

#mode-toggle:hover {
	cursor:pointer;
}

#mode-toggle .dark-toggle { 
	color:#fff;
	display:none;
}

#mode-toggle .light-toggle { 
	color:#000;
	display:block;
}